<form novalidate #characterForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p class="form-container">
      <mat-form-field>
        <input matInput placeholder="Name" type="text" [(ngModel)]="character.name" name="name" #name="ngModel"
          required>
        <mat-error *ngIf="name.errors?.required">Name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" type="text" [(ngModel)]="character.description" name="description"
          #description="ngModel" required></textarea>
        <mat-error *ngIf="description.errors?.required">Description is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Icon</mat-label>
        <mat-select [(ngModel)]="character.icon" name="icon" #icon="ngModel" required>
          <mat-select-trigger>
            <span class="fa {{character.icon}} fa-lg"></span>
          </mat-select-trigger>
          <mat-option *ngFor="let icon of icons" [value]="icon">
            <span class="fa {{icon}} fa-lg"></span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="icon.errors?.required">Icon is required</mat-error>
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button type="submit" mat-button class="background-primary text-floral-white"
      [disabled]="characterForm.form.invalid">Aceptar</button>
  </mat-dialog-actions>
</form>